.header--color {
  background-color: rgb(255, 252, 247);
  box-shadow: rgba(93, 81, 50, 0.05) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.06) 0px 30px 60px -30px;
}

.Header__details:hover {
  color: rgb(188, 129, 41);
}

.Header__details {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.005em;
}
